# Environments
.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.vscode/
.idea/

# Temporary data & caches
temp/
**/temp/
*.parquet
*.mat
